<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">Operacion Exitosa!</h1>
	</br>
	<div class="container">
		<div class="hero-unit">
			<table width="400" border="0" align="center">
				<tr>
					<td align="center"><label class="alert-success"><strong>{aviso}</strong></label></td>
				</tr>
				<tr>
					<td align="center"><input class="btn" type="button"
						name="regresar" id="regresar" value="regresar"
						onclick=" location.href='{location}' " /></td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>