<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title></title>
</head>
<body>

	<h1 align="center">{titulo}</h1>
	</br>
	<div class="container" align="center">
		<form action="{action}" method="POST" class="well">
			<label align="center">Seleccione Usuario <SELECT
				NAME="listUsuario">
					<OPTION VALUE="0">Seleccione</OPTION> {listUsuario}
			</SELECT></label>
			<div class="form-actions" align="center">
				<input class="btn" type="button" name="regresar" id="regresar"
					value="regresar" onclick=" location.href='{location}' " /> <input
					class="btn btn-primary" type="submit" name="aceptar" id="aceptar"
					value="aceptar" />
			</div>
		</form>
	</div>
</body>
</html>