<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>

	<h1>Desactivar Usuario</h1>
	<form action="eliminarUsuario.php" method="POST">
		<table align="center" width="400" border="1">
			<tr>
				<td>Seleccione Usuario</td>
				<td><SELECT NAME="listUsuario">
						<OPTION VALUE="0">Seleccione</OPTION> {listUsuario}
				</SELECT></td>
			</tr>
			<tr>		
				<td align="right"><input type="button" name="regresar" id="regresar"
					value="regresar" /></td>
				<td align="left"><input type="submit" name="enviar"
					id="enviar" value="aceptar" /></td>
			</tr>
		</table>
	</form>

</body>
</html>