<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title>Autenticacion</title>
</head>
<body>
	<div class="container">
		<div class="hero-unit">
			<form action="login.php" method="post">
				<table width="400" border="0" align="center">
					<tr>
						<td colspan="2"><label class="alert-error" align="center">
								<strong>{alert} 
						</label></td>
					</tr>
					<tr>
						<td><strong>Login</strong></td>
						<td><label> <input type="text" name="username"
								id="username" required="required" />
						</label></td>
						<td>{alert_login}</td>
					</tr>
					<tr>
						<td><strong>Password</strong></td>
						<td><label> <input type="password" name="password"
								id="password" required="required" />
						</label></td>
						<td>{alert_password}</td>
					</tr>
					<tr>
						<td colspan="2" align="center"><label> <input
								type="submit" name="enviar" id="enviar" value="Aceptar" />
						</label></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>