<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ES">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title>Menu</title>
</head>
<body>

	<div class="container">

		<h1 align="left">Bienvenido {user}</h1>
		</br> </br>
		<table class="table">
			<tr>
				<td align="center"><a href="../controller/gestionUsuarioV.php"><img
						alt="Gestion de Usuarios" src="../image/icon_user" height="180"
						width="180"></br> Gestion de Usuarios</a></td>
				<td><a href="../controller/gestionBancoV.php"><img
						alt="Gestion de Bancos" src="../image/icon_bank" height="180"
						width="180"></br> Gestion de Bancos</a></td>
				<td><a href="../controller/gestionCuentaV.php"><img
						alt="Gestion de Cuentas" src="../image/icon_account" height="180"
						width="180"></br> Gestion de Cuentas</a></td>
			</tr>
			<tr>
				<td><a href="../controller/gestionFacturaV.php"><img
						alt="Gestion de Facturas" src="../image/icon_invoice" height="180"
						width="180"></br> Gestion de Facturas</a></td>
				<td><a href="../controller/gestionChequeV.php"><img
						alt="Gestion de Pagos" src="../image/icon_payment" height="180"
						width="180"></br> Gestion de Pagos</a></td>
				<td><a href="../controller/gestionEgresoV.php"><img
						alt="Gestion de Gastos" src="../image/icon_buy" height="180"
						width="180"></br> Gestion de Gastos</a></td>
			</tr>
			<tr>
				<td colspan="3"><a href="../controller/gestionFundacionV.php"><img
						alt="Gestion de Fundacion" src="../image/icon_config" height="180"
						width="180"></br> Gestion de la Fundación</a></td>

			</tr>
		</table>

	</div>

</body>
</html>