<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../css/fundacion.css">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<h1 align="left">{title}</h1>
		<div class="fundaMenu">
			<table class="table ">
				<tr>
					<td align="center"><a href="{agregar}"><img alt="Agregar"
							src="../image/icon_add.png" height="120" width="120"></br>{tituloAgregar}</a></td>
					<td><a href="{eliminar}"><img alt="Eliminar"
							src="../image/icon_lock.png" height="120" width="120"></br>
							{tituloEliminar}</a></td>
					<td><a href="{linkUnlock}"><img alt="Desbloquear"
							src="{iconUnlock}" height="120" width="120"></br>
							{tituloDesbloquear}</a></td>
					</td>
				</tr>
				<tr>
					<td><a href="{consultar}"><img alt="Consultar"
							src="../image/icon_search.png" height="120" width="120"></br>
							{tituloConsultar}</a></td>
					<td><a href="{editar}"><img alt="Editar"
							src="../image/icon_edit.png" height="120" width="120"></br> {tituloEditar}</a></td>
							<td></td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>