<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/fundacion.css">
<title>Insert title here</title>
</head>
<body>
	</br>
	<h1>Modificar Datos de Usuario</h1>
	</br>
	<form action="modificarUsuario.php" method="post">
	<table width="500" border="0" align="center">
		 <tr>
		    <td width="200">Cedula</td>
		    <td><label>
		    <input type="hidden" name="id" id="id" value="{id}"/>
		      <input type="text" name="cedula" id="cedula" required="required" value="{cedula}"/>
		    </label></td>
		    <td class="alert" width="200"><label>{alert_cedula}</label></td>
		  </tr>   	
		   <tr>
		    <td>Nombre</td>
		    <td><label>
		      <input type="text" name="nombre" id="nombre" required="required" value="{nombre}"/>
		    </label></td>
		    <td class="alert" ><label>{alert_nombre}</label></td>
		  </tr>
		   <tr>
		    <td>Apellido</td>
		    <td><label>
		      <input type="text" name="apellido" id="apellido" required="required" value="{apellido}"/>
		    </label></td>
		    <td class="alert" ><label>{alert_apellido}</label></td>
		  </tr>
		   <tr>
		    <td>Email</td>
		    <td><label>
		      <input type="text" name="email" id="email" required="required" value="{email}"/>
		    </label></td>
		    <td class="alert" ><label>{alert_email}</label></td>
		  </tr>
		  <tr>
		    <td>login</td>
		    <td><label>
		      <input type="text" name="username" id="username" required="required" value="{username}"/>
		    </label></td>
		    <td class="alert" ><label>{alert_username}</label></td>
		  </tr>
		   <tr>
		    <td>Telefono</td>
		    <td><label>
		      <input type="text" name="telefono" id="telefono" required="required" value="{telefono}"/>
		    </label></td>
		    <td class="alert" ><label>{alert_telefono}</label></td>
		  </tr>		
		  <tr>
		  	<td align="center"><label>
		      <input type="button" name="regresar" id="regresar" value="regresar" />
		    </label></td>
		    <td align="center"><label>
		      <input type="submit" name="enviar" id="enviar" value="aceptar" />
		    </label></td>
		  </tr>		 
		</table>
	</form>
</body>
</html>