<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title>Insert title here</title>
</head>
<body>
    <h1 align="center">{titulo}</h1>
    </br>
    <div class="container">
        <div class="hero-unit">
            <form action="{action}" method="post">
            <input type="hidden" value="{id}" id="id" name="id" />
            <input type="hidden" value="{list}" id="bancos" name="bancos" /> 
                <table border="0" class="table">                    
                    <tr>
                        <td width="200">Nº de Cuenta</td>
                        <td><label> <input type="text" name="noCuenta"
                                id="noCuenta" required="required" value="{noCuenta}" />
                        </label></td>
                        <td><label class="alert-error">{alert_noCuenta}</label></td>
                    </tr>
                    <tr>
                        <td>Titular de la Cuenta</td>
                        <td><label> <input type="text" name="titular"
                                id="titular" required="required" value="{titular}" />
                        </label></td>
                        <td><label class="alert-error">{alert_titular}</label></td>
                    </tr>
                    <tr>
                        <td>Banco</td>
                        <td><label align="left">{tituloComboBox}
								<SELECT NAME="banco">
									<OPTION VALUE="0">Seleccione</OPTION> {list}
							</SELECT>
						</label></td>
                        <td><label class="alert-error">{alert_banco}</label></td>
                    </tr>
                </table>
                <div class="form-actions" align="center">
                    <input class="btn" type="button" name="regresar" id="regresar"
                        value="regresar" onclick=" location.href='{location}'" /> <input
                        class="btn btn-primary" type="submit" name="aceptar" id="aceptar"
                        value="aceptar" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>