<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">{titulo}</h1>
	</br>
	<div class="container">
		<div class="hero-unit">
			<form action="{action}" method="post">
			<input type="hidden" value="{id}" id="id" name="id" /> 
				<table border="0" class="table">					
					<tr>
						<td width="200">Nombre</td>
						<td><label> <input type="text" name="nombre"
								id="nombre" required="required" value="{nombre}" />
						</label></td>
						<td><label class="alert-error">{alert_nombre}</label></td>
					</tr>
					<tr>
						<td>Direccion</td>
						<td><label> <input type="text" name="direccion"
								id="direccion" required="required" value="{direccion}" />
						</label></td>
						<td><label class="alert-error">{alert_direccion}</label></td>
					</tr>
					<tr>
						<td>Telefono</td>
						<td><label> <input type="text" name="telefono"
								id="telefono" required="required" value="{telefono}" />
						</label></td>
						<td><label class="alert-error">{alert_telefono}</label></td>
					</tr>
				</table>
				<div class="form-actions" align="center">
					<input class="btn" type="button" name="regresar" id="regresar"
						value="regresar" onclick=" location.href='{location}'" /> <input
						class="btn btn-primary" type="submit" name="aceptar" id="aceptar"
						value="aceptar" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>